body {
    margin: 0;
    padding: 0;
}
.center { text-align: center;}
.allimages div {
    float: left;
    width: 25%;
}
.allimages img {
    width: 100%;
    height: 200px;
    opacity: 0.5;
    transit: all 1s liner;
}
.imagesr {
     opacity: 1 !important;   
}